Repository dolphinDoReMi/VideoEdit, changes with the labels that .github/labeler.yml gives for each.
All labels: feature/whisper, feature/clip, feature/retrieval, core, app

.github/labeler.yml:

feature/whisper:
  - changed-files:
      - any-glob-to-any-file: ['feature/whisper/**']
feature/clip:
  - changed-files:
      - any-glob-to-any-file: ['feature/clip/**']
feature/retrieval:
  - changed-files:
      - any-glob-to-any-file: ['feature/retrieval/**']
core:
  - changed-files:
      - any-glob-to-any-file: ['core/**']
app:
  - changed-files:
      - any-glob-to-any-file: ['app/**']

feat(whisper-ui): add comprehensive deployment documentation and UI improvements
  Doc/DEPLOYMENT.md
  Doc/deployment/XIAOMI_PAD_DEPLOYMENT_REPORT.md
  Doc/deployment/XIAOMI_PAD_UPDATED_DEPLOYMENT.md
  Doc/deployment/Xiaomi_Pad_Deployment_Guide.md
  Doc/deployment/iOS_Remote_Capacitor_Release.md
  Doc/deployment/xiaomi_pad_deployment_test_report.md
  Doc/deployment/xiaomi_pad_deployment_verification_report.md
  README.md
  app/src/main/AndroidManifest.xml
  app/src/main/assets/web/whisper_batch_results.html
  app/src/main/assets/web/whisper_file_selection.html
  app/src/main/assets/web/whisper_processing.html
  app/src/main/java/com/mira/resource/DeviceResourceService.kt
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
  app/src/main/java/com/mira/whisper/WhisperMainActivity.kt
  app/src/main/java/com/mira/whisper/WhisperProcessingActivity.kt
  feature/whisper/src/main/AndroidManifest.xml
  feature/whisper/src/main/java/com/mira/com/feature/whisper/api/WhisperApi.kt
  feature/whisper/src/main/java/com/mira/com/feature/whisper/runner/TranscribeWorker.kt
  xiaomi_pad_deployed.png
Labels: feature/whisper, app

fix(ci): update lint command to continue on errors
  .github/workflows/code-quality.yml
Labels: none

feat: mark as working version - production ready
  WORKING_VERSION.md
Labels: none

docs(whisper): consolidate reports into 6 main docs
  docs/whisper/Full scale implementation Details.md
  docs/whisper/reports/ASYNC_SOLUTION_COMPLETE.md
  docs/whisper/reports/ASYNC_SOLUTION_FINAL_FIX.md
  docs/whisper/reports/ASYNC_SOLUTION_FIXED_REPORT.md
  docs/whisper/reports/ASYNC_SOLUTION_MEMORY_FIXED.md
  docs/whisper/reports/BRIDGE.md
  docs/whisper/reports/CD Guide & Release.md
  docs/whisper/reports/batch_processing_example_report.md
  docs/whisper/reports/chinese_transcription_correction_report.md
  docs/whisper/reports/chinese_transcription_deployment_verification.md
  docs/whisper/reports/transcription_results_deployment_report.md
  docs/whisper/reports/unified_interface_retest_verification.md
  docs/whisper/reports/whisper_unified_interface_test_report.md
  docs/whisper/reports/whisper_unified_pipeline_test_report.md
Labels: none

feat: mark main branch as production ready working version
  WORKING_VERSION.md
Labels: none

feat: implement whisper chunking progress system
  .cursor/rules/terminal-no-streaming.md
  .cursorrules
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
  .github/workflows/release.yml
  .github/workflows/web-build.yml
  README.md
  app/src/main/assets/web/whisper_unified.html
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperMainActivity.kt
  current_app_state.png
  current_file_selection_test.png
  docs/CI-CD_IMPLEMENTATION_COMPLETE.md
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/DOCUMENTATION_SUMMARY.md
  docs/MERGE_TO_MAIN_COMPLETE.md
  docs/RESOURCE_MONITOR_BRANCH_COMPLETE.md
  docs/UI_DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/cursor_rule.md
  docs/step_by_step_condensing_complete.md
  docs/step_by_step_condensing_progress.md
  docs/ui/CI-CD Guide & Release.md
  feature/whisper/src/main/java/com/mira/com/feature/whisper/data/io/AudioIO.kt
  feature/whisper/src/main/java/com/mira/com/feature/whisper/data/io/MediaConverter.kt
  feature/whisper/src/main/java/com/mira/com/feature/whisper/service/BackgroundMediaConverter.kt
  feature/whisper/src/main/java/com/mira/com/feature/whisper/service/MediaConversionManager.kt
  file_selection_debug.png
  scripts/cicd.sh
  scripts/release.sh
  test_improved_file_picker.sh
  test_mkv_extraction.sh
  test_navigation_fix.sh
  test_simplified_interface.sh
  test_tennis_interview.sh
  xiaomi_pad_deployed_final.png
Labels: feature/whisper, app

feat: Add infrastructure services for duplicate detection and global cleanup
  core/infra/src/main/java/com/mira/com/core/infra/GlobalFileManagementBackgroundService.kt
  core/infra/src/main/java/com/mira/com/core/infra/GlobalFileManagementService.kt
  core/infra/src/main/java/com/mira/com/core/infra/HashBasedDuplicateDetectionBackgroundService.kt
  core/infra/src/main/java/com/mira/com/core/infra/HashBasedDuplicateDetectionService.kt
  docs/infra/Architecture Design and Control Knot.md
  docs/infra/Device Deployment.md
  docs/infra/Full scale implementation Details.md
  docs/infra/README.md
  duplicate_check_control_knots_demo.sh
  feature/infra/README.md
  hash_based_duplicate_detection_demo.sh
  original_file_removal_service_demo.sh
Labels: core

fix: remove failing CI/CD workflows and fix docs validation
  .github/workflows/android-build.yml
  .github/workflows/automated-testing.yml
  .github/workflows/ci.yml
  .github/workflows/device-tests.yml
  .github/workflows/ios-build.yml
  .github/workflows/release-deployment.yml
  .github/workflows/web-build.yml
Labels: none

feat(whisper): WIP chunking progress - UI fixes and tennis interview processing improvements
  TENNIS_INTERVIEW_PROCESSING_SUMMARY.md
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/whisper/WhisperMainActivity.kt
  current_ui_debug.png
  monitor_tennis_interview.sh
  ui_fixed_screenshot.png
Labels: app

ci: add GitHub Actions workflow for whisper-chunking feature branch
  .github/workflows/whisper-chunking-ci.yml
Labels: none

ci: remove branch-specific workflow for whisper-chunking to prevent duplication
  .github/workflows/whisper-chunking-ci.yml
Labels: none

feat(clip): WIP clipping progress - add autoclip module and tennis interview processing scripts
  app/src/main/java/com/mira/clip/autoclip/AutoClipperWorker.kt
  app/src/main/java/com/mira/clip/autoclip/WhisperChainWorker.kt
  merge_tennis_transcriptions.sh
  process_clip_001.sh
  process_clip_001_webview.sh
  process_tennis_clips.sh
  process_tennis_interview_complete.sh
  process_tennis_interview_direct.sh
  split_tennis_interview.sh
  split_tennis_interview_android.sh
  split_tennis_interview_host.sh
Labels: app

docs: update Whisper documentation with video clipping integration
  docs/whisper/Architecture Design and Control Knot.md
  docs/whisper/README.md
Labels: none

docs: update Xiaomi Pad deployment with job scheduling system
  docs/whisper/Device Deployment.md
Labels: none

docs: integrate job scheduling system into Whisper documentation
  docs/whisper/README.md
Labels: none

docs: update CLIP architecture and mark WIP status
  docs/clip/Architecture Design and Control Knot.md
  feature/whisper/src/main/cpp/whisper_jni.cpp
  process_clip_001.sh
Labels: feature/whisper

docs: add WIP status documentation
  WIP_STATUS.md
Labels: none

docs: Update WORKING_VERSION.md to focus on Whisper ASR and Xiaomi Pad optimization
  WORKING_VERSION.md
Labels: none

feat: Add final Vulkan optimization scripts and documentation
  VULKAN_INTEGRATION_README.md
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/clip/sampler/SamplerService.kt
  app/src/main/java/com/mira/resource/DeviceResourceService.kt
  feature/whisper/build.gradle.kts
  scripts/benchmark_vulkan_performance.sh
  scripts/troubleshoot_vulkan.sh
  scripts/vulkan_quick_start.sh
Labels: feature/whisper, app

docs: Update WORKING_VERSION.md to reflect main branch merge
  WORKING_VERSION.md
Labels: none

feat(whisper): implement service-side teardown and MediaCodec pool management
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  feature/whisper/src/main/cpp/CMakeLists.txt
  feature/whisper/src/main/cpp/whisper_jni.cpp
  feature/whisper/src/main/java/com/mira/com/feature/whisper/data/io/AudioIO.kt
Labels: feature/whisper, app

feat: Complete Whisper implementation with app-scoped storage
  .github/workflows/whisper-branch-ci.yml
  app/src/debug/java/com/mira/clip/index/faiss/debug/DebugFaissReceiver.kt
  app/src/debug/java/com/mira/clip/retrieval/debug/DebugReceiver.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/clip/sampler/SamplerUsageExample.kt
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/DirectoryManager.kt
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
  app/src/main/java/com/mira/whisper/WhisperMainActivity.kt
  app/src/main/java/com/mira/whisper/WhisperProcessingActivity.kt
  current_app_state.png
  current_ui_debug.png
  current_ui_state.png
  docs/whisper/Device Deployment.md
  feature/clip/src/debug/java/com/mira/com/feature/clip/debug/DebugClipReceiver.kt
  feature/whisper/src/main/AndroidManifest.xml
  feature/whisper/src/main/java/com/mira/com/feature/whisper/runner/TranscribeWorker.kt
  test_app_scoped_directory_structure.sh
  test_comprehensive_app_scoped_storage.sh
  test_foreground_app_scoped_storage.sh
  verify_app_scoped_implementation.sh
Labels: feature/whisper, feature/clip, app

docs: add commit message policy and whisper deployment documentation
  COMMIT_MESSAGE_POLICY.md
  WHISPER_BRANCH_DEPLOYMENT_STATUS.md
Labels: none

fix(ci): update CI/CD protection hook and test scripts
  scripts/tools/cicd_protection_hook.sh
  setup_scoped_storage.sh
  simple_cpu_test.sh
  simple_tennis_test.sh
Labels: none

fix(ci): strengthen CI/CD protection to prevent new workflow creation
  cicd_ablation_wip_20251008_122001/cicd_ablation_wip_report.md
  cicd_ablation_wip_20251008_122001/wip_status.txt
  feature/whisper/build.gradle.kts.bak
  feature/whisper/src/main/cpp/CMakeLists.txt.bak
  scripts/tools/cicd_protection_hook.sh
Labels: feature/whisper

docs(ci): update CI/CD protection policy for new workflow prevention
  docs/ci-cd/CI-CD-PROTECTION-POLICY.md
Labels: none

Final commit before merging whisper to main
  app/src/androidTest/resources/raw/sample.mp4
  assets/consolidated/video_v1.mp4
Labels: app

feat(feature/whisper): re-architecture for scoped storage
  app/src/main/AndroidManifest.xml
  app/src/main/AndroidManifest.xml.backup
  app/src/main/java/com/mira/clip/core/Config.kt
  app/src/main/java/com/mira/clip/retrieval/Config.kt
  app/src/main/java/com/mira/clip/retrieval/work/IngestWorker.kt
  app/src/main/java/com/mira/clip/retrieval/work/RetrieveWorker.kt
  app/src/main/java/com/mira/com/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/storage/ScopedStorageManager.kt
  app/src/main/java/com/mira/storage/adapters/AutoClipStorageAdapter.kt
  app/src/main/java/com/mira/storage/adapters/ClipStorageAdapter.kt
  app/src/main/java/com/mira/storage/adapters/FaissStorageAdapter.kt
  app/src/main/java/com/mira/storage/adapters/WhisperStorageAdapter.kt
  app/src/main/java/com/mira/whisper/DirectoryManager.kt
  app/src/main/java/com/mira/whisper/ScopedStorageIntegrationActivity.kt
  app/src/main/java/com/mira/whisper/service/ScopedDirectWhisperService.kt
  app/src/main/java/com/mira/whisper/service/ScopedStorageBridgeService.kt
  asr_file_request.json
  asr_job_request.json
  docs/storage/ScopedStorageMigrationGuide.md
  live_asr_job.json
  real_asr_request.json
  real_whisper_job.json
  scoped_asr_job.json
  scripts/real_mirawhisper_integration.sh
  scripts/real_whisper_processing.sh
  scripts/test_scoped_storage_integration.sh
Labels: app

feat(feature/whisper): working state - direct whisper implementation
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/videoeditor/media/build.gradle.kts
  app/src/main/java/com/mira/videoeditor/ml/ml/build.gradle.kts
  app/src/main/java/com/mira/whisper/DirectWhisperActivity.kt
  app/src/main/java/com/mira/whisper/DirectWhisperProcessor.kt
  app/src/main/java/com/mira/whisper/FixedWhisperServiceActivity.kt
  app/src/main/java/com/mira/whisper/SimpleDirectWhisperActivity.kt
  app/src/main/java/com/mira/whisper/StandaloneDirectWhisperActivity.kt
  app/src/main/java/com/mira/whisper/service/FixedDirectWhisperService.kt
  build.gradle.kts
  docs/whisper/README.md
  feature/clip/build.gradle.kts
  feature/clip/src/main/java/com/mira/clip/feature/clip/ClipEngine.kt
  feature/clip/src/main/java/com/mira/clip/feature/clip/ClipRunner.kt
  feature/clip/src/main/java/com/mira/com/feature/clip/Config.kt
  feature/clip/src/main/java/com/mira/com/feature/clip/FrameSampler.kt
  feature/retrieval/build.gradle.kts
  improved_direct_whisper_service.kt
  scripts/direct_gguf_processing.sh
  scripts/direct_whisper_processing.sh
  scripts/direct_whisper_step_by_step.sh
  scripts/fixed_service_test.sh
  scripts/minimal_direct_whisper.sh
  scripts/process_5min_tennis.sh
  scripts/real_transcript_processing.sh
  scripts/simple_direct_whisper.sh
  scripts/standalone_direct_whisper.sh
  simple_direct_whisper.cpp
  standalone_whisper_jni.cpp
  tennis_interview_clip_002.wav
  tennis_interview_clip_002_full.wav
  test_jni_processing.cpp
Labels: feature/clip, feature/retrieval, app
