Repository dolphinDoReMi/VideoEdit, changes with the labels that .github/labeler.yml gives for each.
All labels: feature/whisper, feature/clip, feature/retrieval, core, app

Fix all CI/CD issues
  app/build.gradle.kts
  app/src/test-disabled/java/com/mira/clip/Clip4ClipDatabaseTest.kt
  app/src/test-disabled/java/com/mira/clip/Clip4ClipUseCaseTest.kt
  app/src/test-disabled/java/com/mira/clip/ClipTokenizerTest.kt
  app/src/test-disabled/java/com/mira/clip/DbDaoTest.kt
  app/src/test-disabled/java/com/mira/clip/MetricSpaceUnitTest.kt
  app/src/test-disabled/java/com/mira/clip/PyTorchClipEngineTest.kt
  app/src/test-disabled/java/com/mira/clip/RetrievalMathTest.kt
  app/src/test/java/com/mira/clip/sampler/TimestampPoliciesTest.kt
  build.gradle.kts
  core/media/src/main/java/com/mira/com/core/media/MediaAudioDecoder.kt
  detekt.yml
  feature/clip/build.gradle.kts
  feature/retrieval/build.gradle.kts
  feature/retrieval/src/test/java/com/mira/com/feature/retrieval/RetrievalTest.kt
  feature/ui/build.gradle.kts
  feature/whisper/build.gradle.kts
  tools/gen_wav.py
  tools/sidecar_check.js
Labels: feature/whisper, feature/clip, feature/retrieval, core, app

feat(feature/clip): create Xiaomi Pad Ultra deployment branch
  .cursorrules 2
  IMPLEMENTATION_SUMMARY 2.md
  XIAOMI_PAD_ULTRA_BUILD_CONFIG.md
  XIAOMI_PAD_ULTRA_DEPLOYMENT.md
  ops/verify_all 2.sh
  tools/export_clip_simple 2.py
  tools/export_clip_torchscript 2.py
  tools/merges 2.txt
  tools/tokenizer_config 2.json
  tools/vocab 2.json
  xiaomi_pad_final_stable 2.png
  xiaomi_pad_stable_resources 2.png
Labels: none

Remove Policy Guard workflow and related files
  .github/workflows/push-guard.yml
  docs/architecture/Change-Policy.md
  docs/architecture/POLICY_GUARD_SYSTEM.md
  scripts/tools/push_guard.sh
  tools/push_guard.sh
Labels: none

Fix CI/CD workflow issues
  .github/workflows/android-ci.yml
  app/src/main/AndroidManifest.xml
Labels: app

feat(feature/whisper): add Xiaomi Pad E2E test infrastructure and CI/CD validation
  app/build.gradle.kts
  feature/whisper/src/androidTest/AndroidManifest.xml
  feature/whisper/src/androidTest/README.md
  feature/whisper/src/androidTest/java/com/mira/whisper/BasicWhisperTest.kt
  test_whisper.sh
  test_whisper_video_v1.sh
Labels: feature/whisper, app

feat(feature/clip): update Xiaomi Pad Ultra deployment branch
  app/build.gradle.kts
  app/src/androidTest/AndroidManifest.xml
  app/src/androidTest/java/com/mira/clip/ClipLocalVideoTest.kt
  app/src/androidTest/java/com/mira/clip/ClipXiaomiUltraTest.kt
  app/src/androidTest/java/com/mira/clip/E2EVideoEmbeddingTest.kt
  app/src/androidTest/java/com/mira/clip/ImageEncoderInstrumentedTest.kt
  app/src/androidTest/java/com/mira/clip/IngestWorkerInstrumentedTest.kt
  app/src/androidTest/java/com/mira/clip/MetricSpaceInstrumentedTest.kt
  app/src/androidTest/java/com/mira/clip/SamplerInstrumentedTest.kt
  app/src/androidTest/java/com/mira/clip/SimpleClipTest.kt
  app/src/androidTest/java/com/mira/clip/TextEncoderInstrumentedTest.kt
Labels: app

feat(feature/clip): add ClipEmbeddingGenerator for Xiaomi Pad Ultra
  app/src/androidTest/java/com/mira/clip/ClipEmbeddingGenerator.kt
Labels: app

test(feature/whisper): add Xiaomi Pad E2E test files
  direct_whisper_test.sh
  test_audio.wav
Labels: none

ci(ci): add per-thread app ID isolation and comprehensive CI/CD
  .github/workflows/ci.yml
  .github/workflows/device-tests.yml
  app/build.gradle.kts
  docs/LOCAL_EDGE_BUILDS.md
  scripts/thread_suffix.sh
  scripts/thread_suffix_ios.sh
Labels: app

fix(app): remove duplicate app_name resource definition
  app/build.gradle.kts
Labels: app

fix(app): comment out duplicate app_description resValue
  app/build.gradle.kts
Labels: app

fix(app): clean up uncommitted changes and large model files
  app/src/main/java/com/mira/clip/ops/TestReceiver.kt
  export_clip4clip.py
Labels: app

Fix CI/CD pipeline issues
  .github/workflows/android-ci.yml
  .github/workflows/android-e2e.yml
  .github/workflows/android-pr.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  app/build.gradle.kts
Labels: app

Complete CI/CD pipeline fixes
  app/build.gradle.kts
  app/lint-baseline.xml
  app/src/debug/AndroidManifest.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/videoeditor/AutoCutApplication.kt
  app/src/main/java/com/mira/videoeditor/db/AppDatabase.kt
  app/src/main/java/com/mira/videoeditor/db/converters.kt
  app/src/main/java/com/mira/videoeditor/db/daos.kt
  app/src/main/java/com/mira/videoeditor/db/entities.kt
  app/src/main/java/com/mira/videoeditor/ml/PyTorchClipEngine.kt
  app/src/main/java/com/mira/videoeditor/usecases/UseCases.kt
  app/src/test-disabled/Clip4ClipDatabaseTest.kt
  app/src/test-disabled/Clip4ClipUseCaseTest.kt
  app/src/test-disabled/PyTorchClipEngineTest.kt
  detekt.yml
Labels: app

feat(feature/ui): restructure UI module
  app/build.gradle.kts
  build.gradle.kts
  feature/ui/build.gradle.kts
  feature/ui/src/main/java/com/mira/com/feature/ui/DevPanel.kt
  settings.gradle.kts
Labels: app

Update documentation structure
  Doc/whisper/Architecture Design and Control Knot.md
  Doc/whisper/Device Deployment.md
  Doc/whisper/Full scale implementation Details.md
  Doc/whisper/README.md
  Doc/whisper/Release (iOS, Android and MacOS Web Version).md
  Doc/whisper/cursor_rule.md
  docs/INDEX.md
  docs/architecture/DOCUMENTATION_INDEX.md
  docs/modules/Project2_Integration_Guide.md
  docs/modules/Project2_Step1_Implementation_Results.md
  docs/modules/Project2_Step2_Real_Video_Testing_Results.md
  docs/modules/Project2_Step2_Testing_Walkthrough.md
  docs/modules/Project2_Whisper_Architecture.md
  docs/modules/Project2_Whisper_Integration.md
  docs/modules/README.md
Labels: none

feat(feature/clip): update video assets and build configuration for CI/CD
  app/build.gradle.kts
  app/src/androidTest/assets/tiny.mp4
  app/src/androidTest/resources/raw/sample.mp4
  assets/consolidated/video_v1.mp4
  tmp_frames/f00.rgb
  tmp_frames/f01.rgb
  tmp_frames/f02.rgb
  tmp_frames/f03.rgb
  tmp_frames/f04.rgb
  tmp_frames/f05.rgb
  tmp_frames/f06.rgb
  tmp_frames/f07.rgb
  tools/local_video_clip_embed.py
Labels: app

feat: Update transcription files and test reports
  DEV_CHANGELOG.md
  app/src/main/java/com/mira/com/whisper/AndroidWhisperBridge.kt
  video_v1_long_transcription.json
  video_v1_long_transcription.srt
  xiaomi_pad_current.png
  xiaomi_pad_test_report_updated.md
Labels: app

feat: Update Whisper UI and add Chinese transcription support
  DESIGN_REVIEW.md
  app/src/main/assets/web/whisper-step1.html
  app/src/main/java/com/mira/com/whisper/AndroidWhisperBridge.kt
  chinese_transcription_output.json
  chinese_transcription_sidecar.json
  current_ui.png
  step2_ui.png
  test-results/video_selection_fix_report.md
  test-results/video_selection_test_20251004_162625.png
  test-results/whisper_navigation_diagram.txt
  test-results/whisper_navigation_guide.md
  test-results/whisper_step1_20251004_171003.png
  test-results/whisper_step2_20251004_171011.png
  test-results/whisper_step3_20251004_171019.png
  ui_with_chinese_results.png
Labels: app

fix: Update GitHub Actions workflows
  .github/workflows/android-ci.yml
  .github/workflows/android-instrumented-tests.yml
  .github/workflows/android-pr.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/release-deployment.yml
Labels: none

feat: Implement 3-page whisper flow with enhanced UI
  app/src/main/assets/web/whisper_file_selection.html
  app/src/main/assets/web/whisper_processing.html
  app/src/main/assets/web/whisper_results.html
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperMainActivity.kt
  app/src/main/java/com/mira/whisper/WhisperProcessingActivity.kt
  app/src/main/java/com/mira/whisper/WhisperResultsActivity.kt
  deploy_whisper_3page_flow.sh
  post_cleanup.png
  whisper_3page_flow_test_report.md
  whisper_page1_after_selection.png
  whisper_page1_selection.png
  whisper_page2_processing.png
  whisper_page2_processing_active.png
  whisper_page3_after_export.png
  whisper_page3_results.png
Labels: app

feat: Enhance Whisper processing with connector service and improved transcript handling
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperConnectorReceiver.kt
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
  chinese_transcription_display_fix_report.md
  chinese_transcription_verification_report.md
  whisper_results_chinese_fixed.png
  whisper_results_fixed.png
Labels: app

feat: Complete WhisperConnectorService integration across all activities
  app/src/main/AndroidManifest.xml
  app/src/main/assets/web/whisper_processing.html
  app/src/main/assets/web/whisper_results.html
  app/src/main/java/com/mira/whisper/WhisperProcessingActivity.kt
  app/src/main/java/com/mira/whisper/WhisperResultsActivity.kt
Labels: app

feat: Add connector service integration to file selection page
  app/src/main/assets/web/whisper_file_selection.html
Labels: app

test: Add WhisperConnectorService integration test script
  test_whisper_connector_integration.sh
Labels: none

feat: add CI/CD pipeline validation script
  validate_cicd_pipeline.sh
Labels: none

docs: finalize documentation organization
  AREAS_FOR_IMPROVEMENT_FIXED.md
  BACKGROUND_LID_IMPLEMENTATION.md
  BATCH_IMPROVEMENTS_SUMMARY.md
  BATCH_TABLE_VERIFICATION_REPORT.md
  BATCH_TRANSCRIPTION_TEST_RESULTS.md
  BATCH_TRANSCRIPT_TABLE_DEPLOYMENT_COMPLETE.md
  BATCH_VALIDATION_RESULTS.md
  DEPLOYMENT_VALIDATION_FINAL_REPORT.md
  GLOBAL_LIVE_RESOURCE_MONITORING_COMPLETE.md
  HANDS_FREE_SCRIPTS_VERIFICATION_RESULTS.md
  ROBUST_LID_IMPLEMENTATION.md
  WHISPER_3PAGE_FLOW_FIX.md
  WHISPER_CONNECTOR_DEPLOYMENT_SUCCESS.md
  WHISPER_CONNECTOR_INTEGRATION_COMPLETE.md
  WHISPER_RESOURCE_MONITORING_SUMMARY.md
  WHISPER_STEP1_FIXES.md
  XIAOMI_HANDS_FREE_DEPLOYMENT_COMPLETE.md
  XIAOMI_PAD_DEPLOYMENT_SUCCESS.md
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
  app/src/main/java/com/mira/whisper/WhisperFileSelectionActivity.kt
  batch_table_after.png
  chinese_transcription_display_fix_report.md
  chinese_transcription_verification_report.md
  current_batch_table.png
  device_video_v1_long.json
  device_video_v1_long.srt
  step1_file_selection.png
  whisper_3page_flow_test_report.md
  whisper_all_pages_resource_report.md
  whisper_connector_integration_report.md
  whisper_processing.png
  whisper_resource_monitoring_report.md
  whisper_results.png
  whisper_results_after.png
  xiaomi_pad_test_report.md
  xiaomi_pad_test_report_updated.md
Labels: app

feat: implement background device resource monitoring service
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/whisper/WhisperBatchResultsActivity.kt
Labels: app

docs: consolidate documentation into structured Doc/ folder
  Doc/README.md
  Doc/clip/README.md
  Doc/cursor_rule.md
  Doc/ui/README.md
  Doc/whisper/README.md
Labels: none

docs: add resource monitor branch completion summary
  RESOURCE_MONITOR_BRANCH_COMPLETE.md
Labels: none

refactor: move resource monitoring to dedicated package
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mira/resource/DeviceResourceService.kt
  app/src/main/java/com/mira/resource/ResourceUpdateReceiver.kt
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperResultsActivity.kt
Labels: app

docs: complete comprehensive documentation consolidation
  Doc/clip/Architecture Design and Control Knot.md
  Doc/ui/Architecture Design and Control Knot.md
  Doc/ui/Architecture_Design_and_Control_Knot.md
  Doc/ui/Device_Deployment.md
  Doc/ui/Full_scale_implementation_Details.md
  Doc/whisper/Architecture Design and Control Knot.md
  Doc/whisper/CI/CD Guide & Release.md
  Doc/whisper/Device Deployment.md
  Doc/whisper/Full scale implementation Details.md
  Doc/whisper/README.md
  Doc/whisper/Release (iOS, Android and MacOS Web Version).md
  Doc/whisper/cursor_rule.md
  app/src/main/java/com/mira/resource/DeviceResourceService.kt
  app/src/main/java/com/mira/whisper/WhisperResultsActivity.kt
  batch_example_step1.png
  batch_example_step2.png
  batch_example_step3.png
  batch_example_table.png
  batch_processing_example_report.md
  deployed_app_batch_table.png
  deployed_app_step1.png
  deployed_app_step2.png
  deployed_app_step3.png
  xiaomi_pad_3page_flow_verification_report.md
  xiaomi_pad_batch_table_verification.png
  xiaomi_pad_step1_verification.png
  xiaomi_pad_step2_verification.png
  xiaomi_pad_step3_verification.png
Labels: app

docs: add documentation consolidation completion summary
  DOCUMENTATION_CONSOLIDATION_COMPLETE.md
Labels: none

docs: add merge to main completion summary
  MERGE_TO_MAIN_COMPLETE.md
Labels: none

feat(whisper): update file selection UI with batch processing improvements
  app/src/main/assets/web/whisper_file_selection.html
Labels: app

feat(whisper): add batch metadata storage and WorkManager monitoring
  app/src/main/assets/web/whisper_file_selection.html
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
Labels: app

feat(whisper): add async solution test script and connector service updates
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
  test_async_solution.sh
Labels: app

feat(whisper-ui): add comprehensive whisper UI improvements and async processing
  ASYNC_SOLUTION_COMPLETE.md
  ASYNC_SOLUTION_FINAL_FIX.md
  ASYNC_SOLUTION_FIXED_REPORT.md
  ASYNC_SOLUTION_MEMORY_FIXED.md
  XIAOMI_PAD_DEPLOYMENT_REPORT.md
  XIAOMI_PAD_UPDATED_DEPLOYMENT.md
  XIAOMI_PAD_VERIFICATION_GUIDE.md
  app/src/main/assets/web/whisper_file_selection.html
  app/src/main/java/com/mira/com/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/AndroidWhisperBridge.kt
  app/src/main/java/com/mira/whisper/WhisperConnectorService.kt
  app/src/main/java/com/mira/whisper/WhisperFileSelectionActivity.kt
  app/src/main/java/com/mira/whisper/WhisperMainActivity.kt
  app/src/main/java/com/mira/whisper/WhisperProcessingActivity.kt
  current_app_state.png
  current_state.png
  feature/whisper/src/main/java/com/mira/com/feature/whisper/data/db/entities.kt
  feature/whisper/src/main/java/com/mira/com/feature/whisper/runner/TranscribeWorker.kt
  file_picker_improved.png
  file_picker_test.png
  test_async_whisper_solution.sh
  test_async_xiaomi_pad.sh
  test_batch_pipeline.sh
  test_comprehensive.sh
  test_improved_file_picker.sh
  test_multiple_file_selection.sh
  test_multiple_file_selection_final.sh
  verify_async_implementation.sh
  verify_xiaomi_pad_ultra.sh
  xiaomi_pad_async_fixed.png
  xiaomi_pad_current_state.png
  xiaomi_pad_deployment_test_report.md
  xiaomi_pad_fixed_async.png
  xiaomi_pad_updated_async.png
  xiaomi_pad_verification.png
Labels: feature/whisper, app

fix(whisper-ui): update comprehensive test script permissions
  test_comprehensive.sh
Labels: none

fix(ci): consolidate workflows and add LID validation to existing CI
  .github/workflows/android-ci.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/robust-lid-cicd.yml
Labels: none

.github/labeler.yml:

feature/whisper:
  - changed-files:
      - any-glob-to-any-file: ['feature/whisper/**']
feature/clip:
  - changed-files:
      - any-glob-to-any-file: ['feature/clip/**']
feature/retrieval:
  - changed-files:
      - any-glob-to-any-file: ['feature/retrieval/**']
core:
  - changed-files:
      - any-glob-to-any-file: ['core/**']
app:
  - changed-files:
      - any-glob-to-any-file: ['app/**']
